{{ define "main" }}

<div class="mb-10">
    <h1 class="text-3xl text-cyan-600 font-bold text-center mt-10">Simple Bird Theme</h1>
</div>
<div class=" flex flex-col justify-center items-center">

    <div class=" border rounded w-2/3 flex mb-8  justify-center items-center mx-0 flex-col cursor-pointer ">
        <div class="text-center mt-8 text-gray-50">
            <span>Augusto 17, 2022</span>
            <h4 class=" normal-case text-2xl mb-6 font-semibold ">Let it go</h4>
        </div>

        <div class="text-white mb-8 flex flex-col">
            <p class="px-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit officia sit a aperiam saepe
                veritatis dolore asperiores facere, at ratione enim minus sapiente nobis quasi provident qui ea quae
                quam eos, expedita nihil voluptate ex aliquam. Aperiam perspiciatis sed eos cupiditate numquam? Labore,
                praesentium! Tempore dolore quo illo maiores consequatur.
            </p>

            <div class="flex flex-row items-center  justify-center">
                <button class=" mt-3 border border-gray-600 rounded-lg px-3 py-1 w-32 ">Read More</button>
            </div>
        </div>
    </div>

    <div class=" border rounded w-2/3 flex mb-8  justify-center items-center mx-0 flex-col cursor-pointer ">
        <div class="text-center mt-8 text-gray-50">
            <span>Augusto 17, 2022</span>
            <h4 class=" normal-case text-2xl mb-6 font-semibold ">Let it go</h4>
        </div>

        <div class="text-white mb-8 flex flex-col">
            <p class="px-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit officia sit a aperiam saepe
                veritatis dolore asperiores facere, at ratione enim minus sapiente nobis quasi provident qui ea quae
                quam eos, expedita nihil voluptate ex aliquam. Aperiam perspiciatis sed eos cupiditate numquam? Labore,
                praesentium! Tempore dolore quo illo maiores consequatur.
            </p>

            <div class="flex flex-row items-center  justify-center">
                <button class=" mt-3 border border-gray-600 rounded-lg px-3 py-1 w-32 ">Read More</button>
            </div>
        </div>
    </div>

</div>
{{ end }}